<div ng-controller="contactController" class="container-fluid formDisplay">
    <div class="">
        <div class="col-sm-4 left-pane">
            <div>
                <p>Please leave a message and I will get back to you as soon as possible. Thank you.</p>
            </div>
            <div class="contact-email">
                <p>Via email:</p>
                <a href="mailto:contact@simoncomeau.com">contact@simoncomeau.com</a>
            </div>
            <div class="social-media">
                <a href="https://www.linkedin.com/in/simon-comeau-30a082135" target="_blank">
                    <img src="/app/logos/linkedin-logo-3.png" style="height: 40px;"></a>
                <a href="https://plus.google.com/u/0/113309319995055646955" target="_blank">
                    <img src="/app/logos/g-plus-logo.png" style="height: 40px;"></a>
            </div>
        </div>
        <form name="contactForm" layout="column" class="col-sm-8 right-pane" ng-submit="sendButton()">
            <md-content name="contactForm" layout="column" class="col-sm-8 customContent">
                <md-input-container class="md-block customInputContainer">
                    <label for="contactName">Name:</label><br>
                    <input ng-required="true" id="contactName" ng-model="contact.name" type="text"/>
                    <div ng-messages="contactForm.contactName.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block customInputContainer">
                    <label for="contactEmail">Email:</label><br>
                    <input ng-required="true" id="contactEmail" ng-model="contact.email" type="email"/>
                    <div ng-messages="contactForm.contactEmail.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block customInputContainer">
                    <label for="contactPhoneNumber">Phone number:</label><br>
                    <input id="contactPhoneNumber" ng-model="contact.phoneNumber" type="text"/>
                </md-input-container>
                <md-input-container class="md-block customInputContainerTextArea">
                    <label for="contactMessage">Message:</label><br>
                    <textarea id="contactMessage" class="md-input" ng-model="contact.message"></textarea>
                </md-input-container>
                <div class="button-group">
                    <input type="submit" id="sendButton" value="Send" class="btn btn-primary"/>
                    <button class="btn btn-warning" ng-click="clearButton()">Clear</button>
                </div>
            </md-content>
        </form>
    </div>
</div>