<div ng-controller="contactController" class="contact-base"
     style="width:800px; height: 500px; border: 2px solid black;">
    <div class="contact-content-display">
        <!-- BOOTSTRAP LAYOUT -->
        <!--<div class="contact-info" style="position: absolute; width: 200px;">-->
        <!--<div class="contact-info-message" style="padding: 5px;">-->
        <!--<p>Please leave a message and I will get back to you as soon as possible. Thank you.</p>{{myname}}-->
        <!--</div>-->
        <!--<div class="contact-info-email-link" style="padding: 5px;">-->
        <!--<p style="margin: 2px;">Via email:</p>-->
        <!--<a href="mailto:nomismoc@gmail.com">nomismoc@gmail.com</a>-->
        <!--</div>-->
        <!--<div class="contact-info-social-media">-->
        <!--<a href="https://www.linkedin.com/in/simon-comeau-30a082135" target="_blank">-->
        <!--<img src="/app/logos/linkedin-logo-3.png" style="height: 40px;"></a>-->
        <!--<a href="https://plus.google.com/u/0/113309319995055646955" target="_blank">-->
        <!--<img src="/app/logos/g-plus-logo.png" style="height: 40px;"></a>-->
        <!--</div>-->
        <!--</div>-->
        <div class="form-control" style="position:relative; width: 560px; margin-left: 200px; padding: 20px;">
            <div class="form-group" style="margin-bottom: 15px;">
                <label>Name:*<br>
                <input type="text" ng-model="contact.name" style="padding: 5px; margin: 5px;" /></label>
            </div>
            <div class="form-group" style="margin-bottom: 15px;">
                <label>Email:*<br>
                <input type="text" name="contact-form-email" style="padding: 5px; margin: 5px;" placeholder="Email" /></label>
            </div>
            <div class="form-group" style="margin-bottom: 15px;">
                <label>Phone number:*<br>
                <input type="text" name="contact-form-phoneNumber" style="padding: 5px; margin: 5px;"
                       placeholder="Phone number" /></label>
            </div>
            <div class="form-group">
                <label>Message:<br>
                <textarea name="contact-form-message" maxlength="1000"
                          style="padding: 5px; margin: 5px; width: 400px; height: 100px; resize: none;"
                          placeholder="Message"></textarea></label>
            </div>
            <button class="btn btn-primary" ng-click="sendButton()">Send</button>
            <button class="btn btn-warning" ng-click="clearButton()">Clear</button>
        </div>
    </div>
</div>