.formDisplay {
    background: #efefef;
    width: 730px;
    height: 540px;
    position: relative;
    top: 150px;
    border-radius: 10px;
    padding: 0;
}
.left-pane {
    padding-top: 15px;
}
.contact-email {
    padding-top: 50px;
}
.social-media {
    position: relative;
    bottom: -300px;
}
.button-group {
    padding-top: 15px;
}
.customContent {
    background: none;
}
.customInputContainer {
    margin-bottom: 0;
}
textarea.md-input {
    max-height: 150px;
    overflow: auto;
}
.customInputContainerTextArea {
    height: 170px;
    margin-bottom: 0;
}
.form-control-inline > .form-group > input {
    min-width: 200px;
}
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}