<div ng-controller="authenticationController as ctrl" class="container-fluid formDisplay">
    <form name="loginForm" class="col-sm-12" novalidate>
        <md-input-container class="md-block customInputContainer">
            <label>Username:</label><br>
            <input required name="userName" ng-model="user.name" type="text"/>
            <div ng-messages="loginForm.userName.$error"
                 ng-show="(loginForm.$submitted || loginForm.userName.$touched) && loginForm.userName.$invalid ">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block customInputContainer">
            <label>Password:</label><br>
            <input required name="userPassword" ng-model="user.password" type="password"/>
            <div ng-messages="loginForm.userPassword.$error"
                 ng-show="(loginForm.$submitted || loginForm.userPassword.$touched) && loginForm.userPassword.$invalid">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <div id="loginButtons" class="button-group">
            <md-button type="submit" class="md-primary md-raised" ng-disabled="loginForm.$invalid"
                       ng-click="ctrl.loginButton()">Login
            </md-button>
            <md-button class="md-warn md-raised" ng-click="ctrl.clearButton()">Clear</md-button>
        </div>
    </form>
</div>