#messageTable caption {
    height: 64px;
    font-size: 30px;
}

#messageTable thead {
    font-size: 21px;
    opacity: 0.54;
}

#messageTable tbody {
    font-size: 23px;
    opacity: 0.87;
}

#messageTable tr {
    height: 48px;
}

#messageTable tbody tr:hover {
    background-color: #eeeeee;
}

#messageTable, #messageTable caption, #messageTable thead, #messageTable tbody, #messageTable tr, #messageTable td {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: black;
    vertical-align: middle;
}

#messageTable md-checkbox, #messageTable md-checkbox .md-container {
    margin: auto;
}

#messageTable md-checkbox .md-container {
    right: 0;
}

#messageListContainer {
    padding-left: 24px;
    padding-right: 14px;
}

#messageTable td, #messageTable th {
    padding-right: 56px;
}

#messageTable tr th:nth-child(1), #messageTable tr td:nth-child(1) {
    padding-left: 24px;
    text-align: center;
}

#messageTable tr th:nth-child(1), #messageTable tr td:nth-child(1), #messageTable tr th:nth-child(2),
#messageTable tr td:nth-child(2), #messageTable tr th:last-child, #messageTable tr td:last-child {
    padding-right: 24px;
}

#messageTable md-checkbox .md-label {
    margin-left: 0;
}
