<div id="messageListContainer" ng-controller = "messageListController as ctrl">
    <table class="table table-striped" id="messageTable" ng-model="ctrl.messageList">
        <caption>Message list</caption>
        <thead>
        <tr>
            <th>
                <md-checkbox></md-checkbox>
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Message Summary
            </th>
            <th>
                Time
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="message in ctrl.messageList">
            <!-- TODO: make row selection and change background to #F5F5F5 -->
            <td>
                <md-checkbox></md-checkbox>
            </td>
            <td ng-bind = "message.name" />
            <td ng-bind = "message.email" />
            <td ng-bind = "message.phone" />
            <td ng-bind = "message.messageSummary" />
            <td ng-bind = "message.time" />
        </tr>
        </tbody>
    </table>
</div>